<section id="servicios"aria-labelledby="servicios-title" class="relative pt-2 pb-20 text-white">

  <div class="max-w-7xl mx-auto px-6">

    <!-- HEADER -->
    <div class="flex items-center gap-4 mb-6">
      <div class="w-5 h-5 rounded-full bg-gray-300"></div>

      <h2 id="servicios-title" class="tracking-[0.4em] text-sm text-gray-300">
        SERVICIOS
      </h2>

      <div class="flex-1 h-[1px] bg-gray-500"></div>
    </div>

    <!-- DESCRIPCIÓN -->
    <p class="text-lg lg:text-xl text-gray-300 max-w-3xl mb-16 leading-relaxed">
      Ofrecemos servicios de diseño, comunicación, marketing y desarrollo web enfocados en crear <strong>experiencias digitales modernas</strong> , funcionales y alineadas con tu marca.
    </p>

    <!-- CONTENEDOR -->
    <div class="flex flex-col gap-6">

      <!-- ITEM 1 -->
      <article class="border border-white/20 rounded-3xl bg-white/5 backdrop-blur-md overflow-hidden">

        <!-- HEADER -->
        <div
        (click)="toggle(0)" 
          class="flex items-center justify-between p-6 cursor-pointer">

          <div class="flex items-center gap-4">
            <div class="w-5 h-5 rounded-full bg-gray-300"></div>

            <div>
              <h3 class="font-semibold">Diseño web y software</h3>
              <p class="text-sm text-gray-300">
                Diseñamos y desarrollamos <strong>sitios web personalizados</strong> , funcionales, intuitivos y adaptables. 
              </p>
            </div>
          </div>

          <i class="bi bi-chevron-down transition"
             (click)="toggle(0)"
             [class.rotate-180]="activeIndex === 0"></i>
        </div>

        <!-- CONTENIDO -->
        <div *ngIf="activeIndex === 0" class="px-6 pb-6">
          
          <div class="grid lg:grid-cols-2 gap-6 items-center">

            <!-- IMAGEN -->
            <img
              ngSrc="assets/imgs/img-servicios-software.webp"
              width="800"
              height="600"
              loading="lazy"
              alt="Diseño y desarrollo web moderno"
              class="rounded-2xl w-full object-cover"
            />

            <!-- TEXTO -->
            <div class="text-gray-300 space-y-3 leading-relaxed">
              <p>
                Con nuestro servicio no solo obtendrás productos lindos,
                lo más importante funcionales.
              </p>

              <ul class="space-y-2">
                <li>- <strong>Más clientes</strong>, no solo visitas</li>
                <li>- Experiencia que genera confianza</li>
                <li>- Soluciones a la medida de tu negocio</li>
                <li>- Escalabilidad y rendimiento</li>
              </ul>

              <button type="button" class="mt-4 px-6 py-3 border border-white/30 rounded-xl hover:bg-white/20 transition">
                Ver más
              </button>
            </div>

          </div>

        </div>
      </article>

      <!-- ITEM 2 -->
      <article class="border border-white/20 rounded-3xl bg-white/5 backdrop-blur-md overflow-hidden">

        <!-- HEADER -->
        <div 
          (click)="toggle(1)"
          class="flex items-center justify-between p-6 cursor-pointer">

          <div class="flex items-center gap-4">
            <div class="w-5 h-5 rounded-full bg-gray-300"></div>

            <div>
              <h3 class="font-semibold">Marketing</h3>
              <p class="text-sm text-gray-300">
                Impulsamos <strong>estrategias de marketing digital</strong>, enfocadas en aumentar tu alcance, conectar con tu audiencia y <strong> fortalecer tu presencia online.</strong>
              </p>
            </div>
          </div>

          <i class="bi bi-chevron-down transition"
             [class.rotate-180]="activeIndex === 1"></i>
        </div>

        <!-- CONTENIDO -->
        <div *ngIf="activeIndex === 1" class="px-6 pb-6">
          
          <div class="grid lg:grid-cols-2 gap-6 items-center">

            <!-- IMAGEN -->
            <img
              ngSrc="assets/imgs/img-servicios-marketing.webp"
              width="800"
              height="600"
              loading="lazy"
              alt="Estrategias de marketing digital"
              class="rounded-2xl w-full object-cover"
            />

            <!-- TEXTO -->
            <div class="text-gray-300 space-y-3 leading-relaxed">
              <p>
                Con nuestro <strong>servicio de marketing</strong> no solo ganarás visibilidad, lo más importante es generar 
              </p>

              <ul class="space-y-2">
                <li>- Más alcance, no solo impresiones</li>
                <li>- Estrategias que generan confianza</li>
                <li>- Campañas adaptadas a tu negocio</li>
                <li>- Crecimiento constante y medible</li>
              </ul>

              <button type="button" class="mt-4 px-6 py-3 border border-white/30 rounded-xl hover:bg-white/20 transition">
                Ver más
              </button>
            </div>

          </div>

        </div>
      </article>

      <!-- ITEM 3 -->
      <article class="border border-white/20 rounded-3xl bg-white/5 backdrop-blur-md overflow-hidden">

        <!-- HEADER -->
        <div 
          (click)="toggle(2)"
          class="flex items-center justify-between p-6 cursor-pointer">

          <div class="flex items-center gap-4">
            <div class="w-5 h-5 rounded-full bg-gray-300"></div>

            <div>
              <h3 class="font-semibold">Consultoría</h3>
              <p class="text-sm text-gray-300">
                Con nuestro <strong>servicio de consultoría</strong>  no solo obtendrás <strong>asesoría estratégica</strong> , sino que impulsaras el crecimiento de tu marca.
              </p>
            </div>
          </div>

          <i class="bi bi-chevron-down transition"
             [class.rotate-180]="activeIndex === 2"></i>
        </div>

        <!-- CONTENIDO -->
        <div *ngIf="activeIndex === 2" class="px-6 pb-6">
          
          <div class="grid lg:grid-cols-2 gap-6 items-center">

            <!-- IMAGEN -->
            <img
              ngSrc="assets/imgs/img-servicios-consultoria.webp"
              width="800"
              height="600"
              loading="lazy"
              alt="Consultoría estratégica digital"
              class="rounded-2xl w-full object-cover"
            />

            <!-- TEXTO -->
            <div class="text-gray-300 space-y-3 leading-relaxed">
              <p>
                Potenciamos negocios mediante estrategias integrales que conectan creatividad, <strong>marketing y tecnología.</strong>
              </p>

              <ul class="space-y-2">
                <li>- Estrategias enfocadas en resultados</li>
                <li>- Acompañamiento personalizado</li>
                <li>- Soluciones integrales para tu negocio</li>
                <li>- Visión creativa y estratégica</li>
              </ul>

              <button type="button" class="mt-4 px-6 py-3 border border-white/30 rounded-xl hover:bg-white/20 transition">
                Ver más
              </button>
            </div>

          </div>

        </div>
      </article>

      <!-- ITEM 4 -->
      <article class="border border-white/20 rounded-3xl bg-white/5 backdrop-blur-md overflow-hidden">

        <!-- HEADER -->
        <div 
          (click)="toggle(3)"
          class="flex items-center justify-between p-6 cursor-pointer">

          <div class="flex items-center gap-4">
            <div class="w-5 h-5 rounded-full bg-gray-300"></div>

            <div>
              <h3 class="font-semibold">Diseño y producción</h3>
              <p class="text-sm text-gray-300">
                Con nuestro <strong>servicio de diseño</strong>  y producción no solo obtendrás visuales atractivos, lo más importante es <strong>comunicar con impacto.</strong> 
              </p>
            </div>
          </div>

          <i class="bi bi-chevron-down transition"
             [class.rotate-180]="activeIndex === 3"></i>
        </div>

        <!-- CONTENIDO -->
        <div *ngIf="activeIndex === 3" class="px-6 pb-6">
          
          <div class="grid lg:grid-cols-2 gap-6 items-center">

            <!-- IMAGEN -->
            <img
              ngSrc="assets/imgs/img-servicios-produccion.webp"
              width="800"
              height="600"
              loading="lazy"
              alt="Diseño visual y producción creativa"
              class="rounded-2xl w-full object-cover"
            />

            <!-- TEXTO -->
            <div class="text-gray-300 space-y-3 leading-relaxed">
              <p>
                Transformamos ideas en <strong>experiencias visuales</strong> que impactan, comunican y fortalecen tu marca.
              </p>

              <ul class="space-y-2">
                <li>- Diseños que conectan con tu público</li>
                <li>- Producción alineada con tu marca</li>
                <li>- Soluciones creativas y funcionales</li>
                <li>- Calidad visual y profesionalismo</li>
              </ul>

              <button type="button" class="mt-4 px-6 py-3 border border-white/30 rounded-xl hover:bg-white/20 transition">
                Ver más
              </button>
            </div>

          </div>

        </div>
      </article>

    </div>

  </div>

</section>