<!-- 🌌 FONDO GLOBAL -->
<!-- 🌌 FONDO GLOBAL -->
<div class="fixed inset-0 -z-10 pointer-events-none overflow-hidden">

  <!-- 🎨 GRADIENTE BASE -->
  <div class="absolute inset-0 bg-gradient-to-br from-[#0b0f2a] via-[#1b1f5c] to-[#671AAB]"></div>

  <div class="absolute top-[10%] left-[30%] translate-x-[40%] 
            w-[600px] h-[600px] 
            bg-cyan-400/20 blur-[120px] rounded-full">
</div>

<!-- ✨ LUZ 2 -->
<div class="absolute top-[50%] left-[30%] -translate-x-[60%] 
            w-[500px] h-[500px] 
            bg-purple-500/20 blur-[120px] rounded-full">
</div>

<!-- ✨ LUZ 3 -->
<div class="absolute bottom-[10%] left-[30%] translate-x-[60%] 
            w-[400px] h-[400px] 
            bg-blue-500/20 blur-[120px] rounded-full">
</div>

</div>
<app-navbar></app-navbar>
<app-hero></app-hero>
<app-nosotros></app-nosotros>